.counter .counter-wrapper {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.counter button,
.counter .counter-wrapper button {
  cursor: pointer;
}

.counter button:disabled {
  cursor: not-allowed;
}
